.proj-preview{
    width: 40rem;
    height: auto;
}

#projects-div{
    width: 90%;
    padding: 2rem;
    background-color: white;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    border-collapse: collapse;
}

td{
    text-align: center;
    
    padding: 3rem;
    border: solid grey;
}

td a{
    color: black;
}

td a:hover{
    color: rgb(56, 159, 220);
}