.skill-logo{
    width: 12rem;
    height: auto;
}

#skills{
    margin: 3rem;
    width: 60%;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills h1{
    margin: 3rem;
    font-size: 4rem;

}

#skills-logos-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10rem;
    margin: 4rem;
}